@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.glass {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url('/img/deadpool.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

nav h1 {
    font-size: 32px;
}

.logo {
    width: 140px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    color: white;
}

#about {
    height: fit-content;
    width: 100%;
    padding: 25px;
    background: rgb(252,0,0);
    background: -moz-linear-gradient(0deg, rgba(252,0,0,1) 0%, rgba(0,0,0,1) 83%);
    background: -webkit-linear-gradient(0deg, rgba(252,0,0,1) 0%, rgba(0,0,0,1) 83%);
    background: linear-gradient(0deg, rgba(252,0,0,1) 0%, rgba(0,0,0,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0000",endColorstr="#000000",GradientType=1);   
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid white;
    height: 100%;
}

.bio {
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    width: 100%;
}

.about-col-1 img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.about-col-1:hover img {
    filter: grayscale(100%);
    transform: scale(2.5);
}

.about-col-1:hover .bio {
    opacity: 1;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    margin-top: 10px;
}

.sub-titles {
    font-size: 70px;
    font-weight: 600;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    color: white;
    overflow: auto;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li {
    list-style: circle;
}

.tab-contents ul li:nth-child(odd) {
    color: blanchedalmond;
}

.tab-contents ul li span {
    color: #b55769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.active-tab {
    display: block;
}

/* Skills */
#skills {
    padding: 30px 0;
    height: fit-content;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(252,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(252,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(252,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fc0000",GradientType=1);
}

#skills .container .sub-titles {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

#skills .container .glass h6 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ff004f;
    text-align: center;
}

#skills .container .glass ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#skills .container .glass ul li {
    text-align: center;
    margin: 0 10px;
}

#skills .container .glass ul li img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#skills .container .glass ul li img:hover {
    transform: scale(1.3);
    box-shadow: 0 0 20px white;
}

/* @media (max-width: 768px) {
    #skills .container .glass ul {
        flex-direction: column;
    }
    .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    #skills .container .glass ul li {
        margin-bottom: 20px;
    }

    .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
} */

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}


/* Projects */
#projects {
    padding: 30px 0;
    height: fit-content;
    background: rgb(252,236,0);
    background: -moz-linear-gradient(0deg, rgba(252,236,0,1) 0%, rgba(34,193,195,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(252,236,0,1) 0%, rgba(34,193,195,1) 100%);
    background: linear-gradient(0deg, rgba(252,236,0,1) 0%, rgba(34,193,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcec00",endColorstr="#22c1c3",GradientType=1);
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

.project {
    height: 400px;
    width: 350px;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(196, 191, 204));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: black;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 50px;
    margin-bottom: 20px;
    color: white;
}

.layer a {
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img {
    filter: grayscale(100%);
    transform: scale(1.3);
}

.project:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* Contact */
#contact{
    padding: 25px 0;
    background: rgb(252,0,238);
    background: -moz-linear-gradient(0deg, rgba(252,0,238,1) 13%, rgba(252,236,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(252,0,238,1) 13%, rgba(252,236,0,1) 100%);
    background: linear-gradient(0deg, rgba(252,0,238,1) 13%, rgba(252,236,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc00ee",endColorstr="#fcec00",GradientType=1);
}
.contact-left {
    flex-basis: 35%;
    cursor: pointer;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: red;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    transform: translateY(-7px);

}

#mail:hover {
    color: white;
}

#fb:hover {
    color: #0866FF;
}

#insta:hover {
    color: orangered;
}

#link:hover {
    color: #0072b1;
}

#git:hover {
    color: wheat;
}

.btn.btn2 {
    display: inline-block;
    background-color: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.glass2{
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

}

.glassred{
    border: 1px solid rgba(255,0,0,0.5);
    border-radius: 10px;
    background: rgba(255,0,0,0.25);
    box-shadow: 
    0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(255,0,0,0.3);
    -o-box-shadow: 
    0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(255,0,0,0.3);
    -webkit-box-shadow: 
    0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(255,0,0,0.3);
    -moz-box-shadow: 
    0 2px 6px rgba(0,0,0,0.5), 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 10px rgba(255,255,255,0.2), 
    inset 0 10px 20px rgba(255,255,255,0.25), 
    inset 0 -15px 30px rgba(255,0,0,0.3);

}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color: white;
    background: #262626;
    font-weight: 300;
}

/* Small Screen */
nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-color: white;
        background-image: url('./img/PngItem_1004579.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .header-text {
        margin-top: 340px;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 40px;
        color: black;
        position: absolute;
        bottom: 95px;
        left: 20px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav h1 {
        font-size: 30px;
        color: black;
        margin-left: 35px;
        font-family: Georgia, serif;
    }

    #bars {
        color: black;
        position: fixed;
        right: 30px;
        z-index: 2;
        top: 20px;
        font-size: 30px;
    }

    nav ul {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        position: fixed;
        top: 20%;
        right: -200px;
        width: 200px;
        height: fit-content;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 25px;
    }

    nav ul li a {
        font-family: 'Poppins', sans-serif;
        font-size: large;
        font-weight: bold;
        color: #262626;
    }

    nav ul li a::after {
        background: black;
    }

    nav ul li a:hover::after {
        width: 100%;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-titles {
        font-size: 40px;
    }

    .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(6rem, auto));
    }

    .skills-list div h2 {
        font-size: 16px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    #skills {
        margin-top: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-right form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        font-size: 14px;
    }
}

#msg {
    color: greenyellow;
    margin-top: -40px;
    display: block;
}

/* 
:root
{
    --clr: #222327;
}
.navbody{
    font-family: 'poppins', sans-serif;
    background: #222327;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

.navigation{
    position: relative;
    height: 70px;
    width: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    bottom: 30px;
}
.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
    color: black;
    z-index: 1;
    height: 70px;
    width: 70px;
}

.navigation ul li a{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s ease-out;
    color: var(--clr);
    font-weight: 50px;
}

.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}

.navigation ul li a .label{
    position: absolute;
    color: var(--clr);
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .label{
    opacity: 1;
    transform: translateY(10px);
}

.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: lightblue;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
} */